

.FormInputGroup {
	position: relative;
	font-size: 1em;
	margin-bottom: 1.618em;
}

.Form__input, .Form__label {
   padding: 0.25em 0.5em;
}

.Form__label {
  display: inline-block;
  width: 30%;
  text-align: right;
  text-transform: capitalize;
}

.Form__input {
  width: calc(70%);
  border: none;
  border-bottom: 2px solid black;
}

.Form__input:invalid {
	box-shadow: initial;
}

.Form__input__errors {
	position: absolute;
	top:  calc(100% + 0.25em);
	left:  30%;
	font-size: 0.8em;
	color: red;
}
