

.FormInputGroup {
	position: relative;
	font-size: 1em;
	margin-bottom: 1.618em;
}

.Form__input, .Form__label {
   padding: 0.25em 0.5em;
   background-color: inherit;
}

.Form__label {
  display: inline-block;
  width: 30%;
	text-align: right;
	padding-left: 0;
  text-transform: capitalize;
}

.Form__label--textarea {
	vertical-align: top;
	padding-top: 0;
}

.Form__input {
  width: calc(70%);
  border: none;
  border-bottom: 2px solid black;
}

.Form__input--textarea {
	border-right: 2px solid black;
}

.Form__input:invalid {
	box-shadow: initial;
}

.Form__input__errors {
	position: absolute;
	top: calc(100% + 0.25em);
	left: 30%;
	font-size: 0.8em;
	color: red;
}
