

.NavBar::after {
	content: '';
	display: table;
	clear: both;
}

.NavBar__list::after {
	content: '';
	display: table;
	clear: both;
}

.NavBar__list--left {
	float: left;
	padding-left: 1.382em;
}

.NavBar__list--right {
	float: right;
	padding-right: 1.382em;
}

.NavBar__item {
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	float: left;
	margin: 0.618em;
	cursor: pointer;
}
