

.StartForm {
	position: relative;
	margin-bottom: 2.618em;
	padding: 3.618em 2.618em 2.618em;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.27);
}

.StartForm__header {
	position: absolute;
	top: -1em;
	left: 1em;
	background-color: #fff;
	padding: 0.5em 0.75em;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.27);
}

.Form__fieldset {
	border: none;
}
