@font-face {
	font-family: 'Inter UI';
  src: url('./fonts/InterUI/Inter-UI-Regular.woff2') format('woff2'),
				url('./fonts/InterUI/Inter-UI-Regular.woff') format('woff'),
				url('./fonts/InterUI/Inter-UI-Regular.ttf') format('truetype'),
				url('./fonts/InterUI/Inter-UI-Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

:root {
	--body-font: 'Inter UI';
	--body-stack: var(--body-font), 'PT Sans', Arial, sans-serif;
	--header-font: 'Arvo';
	--header-stack: var(--header-font), Times, serif;
}

html {
	font-size: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
	font-family: var(--body-stack);
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	margin-bottom: 0.618em;
	font-family: var(--header-stack);
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
}

.header--main {
	text-align: center;
}

.body {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
	grid-template-rows: repeat(auto-fill, min-content);
	grid-gap: 1.618rem;
	padding: 1.618rem;
}

.outerWrap {
	min-height: 100vh;
}

.outerWrap::after {
	content: '';
	display: table;
	clear: both;
}

.container--form--enter {
	grid-column: 2;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 768px) {
	html {
		font-size: 90%;
	}
}
