

.Link {
	font-size: 0.8rem;
	position: relative;
	padding: 0.618em;
	padding-bottom: 0;
	border-radius: 6px;
	overflow: hidden;
}

.Link__title {
	padding: 0.618em 0;
	text-transform: capitalize;
}

.Link__figure {
	width: 100%;
	margin: 0;
}

.Link__img {
	overflow: hidden;
	height: 0;
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.Link__text {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0.618em;
	background-color: black;
	visibility: hidden;
}

.Link__delete {
	font-family: 'Georgia', serif;
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.2rem;
	height: 1.2rem;
	font-size: 0.6em;
	cursor: pointer;
	border: 1px solid green;
	border-radius: 50%;
	box-shadow: 0 0 0.3em rgba(0,0,0,0.27);
	background-color: #fff;
	z-index: 999;
}
